body {
  margin: 0;
  font-family: CircularStd, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
}

button {
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  background: none;
  border: 0;
}

.slideshow {
  position: relative;
}

.navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1600px;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar a {
  display: inline-block;
  margin-right: 43px;
  font-size: 14px;
  color: #000;
  text-decoration: none;
}

.navbar a:visited {
  color: #000;
}

a.cart-counter {
  border-radius: 50%;
  color: #fff;
  background-color: #000;
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -24px;
  text-indent: -1px;
}

a.cart-counter:visited {
  color: #fff;
}

.slide {
  width: 100%;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

.slide-container {
  max-width: 1032px;
  display: block;
  margin: auto;
  padding: 180px 16px 0;
}

.slide-inner {
  display: flex; 
  width: 100%;
  flex-wrap: wrap;
}

.slide-row {
  display: flex;
  flex-wrap: wrap;
}

.top-row {
  width: 100%;
}

.adopta-img {
  align-self: flex-start;
  margin-right: 230px;
}

.bottom-row {
  width: 100%;
  max-width: 518px;
}

.text-wrapper {
  max-width: 233px;
}

.text-2 {
  margin-right: 53px;
}

.text-wrapper h4 {
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.text-wrapper .text-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: black;
  border-radius: 3px;
  max-width: 100%;
}

.text-wrapper .text-noverlay {
  width: 0;
  transition: .33s width ease-in-out;
}

.text-wrapper p {
  font-size: 14px;
  margin-top: 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
}


.text-track {
  position: relative;
  height: 136px;
  width: 100%;
}

.text-track-inner {
  position: absolute;
  display: flex; 
}

.text-track-inner li {
  position: absolute;
}

.slide-dots {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 30px 40px;
  margin: auto;
  max-width: 1600px;
}

.slide-dots ul {
  display: flex;
  align-items: center;
}

.slide-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  background-color:  rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

.slide-dot.active {
  width: 12px;
  height: 12px;
  background-color: #000;
}

.page-content {
  margin-top: 48px;
}

.adopt-now {
  position: absolute;
  max-width: 1032px;
  display: flex;
  bottom: 0;
  font-size: 14px;
  z-index: 20;
  color: #fff;
}

.adopt-now button {
  color: #fff;
}

.adopt-now-btn {
  height: 70px;
  width: 350px;
  background-color: #FEC01E;
  font-size: 18px;
}

.adopt-now-monthly-amount {
  margin: 0 21px 0 29px;
  min-width: 136px;
}

.adopt-now-pay-btns {
  background-color: #000;
  display: flex;
  align-items: center;
  max-width: 0;
  overflow: hidden;
  transition: .33s max-width ease-in-out;
}

.adopt-now-pay-btn {
  padding: 9px 32px;
  margin-right: 15px;
  background-color: rgba(244, 244, 244, 0.2);
  font-size: 16px;
  position: relative;
}

.apopt-now-open .adopt-now-pay-btns {
  max-width: 500px;
}

.adopt-now-pay-btn:focus {
  outline: none;
}

.adopt-now-pay-btn:before {
  content: '';
  border-right: 1px solid #FEC01E;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  transition: .25s height ease-in-out;
}

.adopt-now-pay-btn:after {
  content: '';
  border-bottom: 1px solid #FEC01E;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  transition: .25s width ease-in-out;
}

.adopt-now-pay-btn:focus:before {
  height: 100%;
  transition: .25s height ease-in-out;
}

.adopt-now-pay-btn:focus:after {
  width: 100%;
  transition: .25s width ease-in-out;
}
